/*
 * This file is part of CLI Press.
 *
 * The MIT License (MIT)
 * Copyright © 2017
 *
 * Alex Carter, alex@blazeworx.com
 * Keith E. Freeman, cli-press@forsaken-threads.com
 *
 * For the full copyright and license information, please view the LICENSE
 * file that should have been distributed with this source code.
 */

body {
    margin: 0;
    padding-bottom: 20px;
}

p {
    color: #D5DB95
}

.header {
    border-bottom: #DEDEDE solid 1px;
    color: #333;
    font-family: Lato, sans-serif;
    font-size: 12px;
    height: 68px;
    position: relative;
}

.header .logo {
    float: left;
    padding: 3px 5px 0 4px;
}

.header .logo img {
    border-radius: 3px;
    content: url("http://blazeworx.com/logo.png");
    height: 38px;
}

.header .title-wrapper {
    float: right;
    margin: 18px 3px 0;
    text-align: right;
}

.header .title-wrapper .title {
    color: #999;
    display: inline-block;
    font-size: 11px;
    font-weight: 300;
    padding-right: 1px;
}