<!--
    * This file is part of CLI Press.
    *
    * The MIT License (MIT)
    * Copyright © 2017
    *
    * Alex Carter, alex@blazeworx.com
    * Keith E. Freeman, cli-press@forsaken-threads.com
    *
    * For the full copyright and license information, please view the LICENSE
    * file that should have been distributed with this source code.
-->
<div class="spacer"></div>
<div class="cover">
    <div><img class="logo" /></div>
    <div>{{  __content }}</div>
    <div><img class="flourish" src="file://{{ __assetPath }}/flourish.png" /></div>
</div>
